@media all and (min-width:310px) and (max-width:780px) {
    
    div.banner-img {
      max-width: 100%;
    }
    div.newArrival h1 {
        font-size:40px; 
    }
    }


#banner-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}


.banner-img img{
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    z-index: -1;
  
}

.newArrival {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.newArrival h1 {
    position: absolute;
    left: 5%;
    padding-top: 40%;
}