@media all and (min-width:310px) and (max-width:780px) {
    
    div.banner-img {
      max-width: 100%;
      
    }
   
    }


#banner-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.banner-img {
    border: 5px solid pink;
}


.banner-img img{
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
  

}

.banner-img h1 {
    z-index: 1;
    
}